{% extends 'base.html.twig' %}

{% block title %}New Project2{% endblock %}

{% block body %}
    <h1>Create new Project2</h1>

    {{ include('project2/_form.html.twig') }}

    <a href="{{ path('project2_index') }}">back to list</a>
{% endblock %}
